{% extends "index.html" %}
{% load staticfiles %}


{% block content %}
    {% block monthpick %}
        <!-- ##### Monthly Picks Area Start ##### -->
        <section class="monthly-picks-area section-padding-100 bg-pattern">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="left-right-pattern"></div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Title -->
                        <h2 class="section-title mb-70 wow fadeInUp" data-wow-delay="100ms">This Month’s Pick</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-tabs wow fadeInUp" data-wow-delay="300ms" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="popular-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="true">Popular</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="latest-tab" data-toggle="tab" href="#latest" role="tab" aria-controls="latest" aria-selected="false">Latest</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="editor-tab" data-toggle="tab" href="#editor" role="tab" aria-controls="editor" aria-selected="false">Editor’s Pick</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="tab-content wow fadeInUp" data-wow-delay="500ms" id="myTabContent">
                <div class="tab-pane fade show active" id="popular" role="tabpanel" aria-labelledby="popular-tab">
                    <!-- Popular Games Slideshow -->
                    <div class="popular-games-slideshow owl-carousel">

                        <!-- Single Games -->
                        {% for item in games %}
                        <div class="single-games-slide">
                            <img src="{{ item.image.url }}" style="width: 238px;height: 403px;" alt="Cannot find this image"/>
                            <div class="slide-text">
                                <a href="#" class="game-title">{{ item.name }}</a>
                                <div class="meta-data">
                                    <a href="#">User: {{ item.vote}}</a>
                                    <a href="#">{{ item.category }}</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}




                    </div>
                </div>
                <div class="tab-pane fade" id="latest" role="tabpanel" aria-labelledby="latest-tab">
                    <!-- Latest Games Slideshow -->
                    <div class="latest-games-slideshow owl-carousel">

                        <!-- Single Games -->
                        <div class="single-games-slide">
                            <img src="/img/bg-img/50.jpg" alt="">
                            <div class="slide-text">
                                <a href="#" class="game-title">Grand Theft Auto V</a>
                                <div class="meta-data">
                                    <a href="#">User: 9.1/10</a>
                                    <a href="#">Action</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="editor" role="tabpanel" aria-labelledby="editor-tab">
                    <!-- Editor Games Slideshow -->
                    <div class="editor-games-slideshow owl-carousel">

                        <!-- Single Games -->
                        <div class="single-games-slide">
                            <img src="/img/bg-img/50.jpg" alt="">
                            <div class="slide-text">
                                <a href="#" class="game-title">Grand Theft Auto V</a>
                                <div class="meta-data">
                                    <a href="#">User: 9.1/10</a>
                                    <a href="#">Action</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>
        <!-- ##### Monthly Picks Area End ##### -->
    {% endblock %}

    {% block articles %}
        <!-- ##### Articles Area Start ##### -->
        <section class="latest-articles-area section-padding-100-0 bg-img bg-pattern bg-fixed" style="background-image: url({% static 'css_js' %}/img/bg-img/5.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Title -->
                        <h2 class="section-title mb-70 wow fadeInUp" data-wow-delay="100ms">This week’s deal</h2>

                        <!-- Single Widget Area -->
                        <div class="single-widget-area add-widget wow fadeInUp" data-wow-delay="300ms">
                            <a href="#"><img src="{% static 'css_js' %}/img/bg-img/add.png" alt=""></a>
                            <!-- Side Img -->
                            <img src="{% static 'css_js' %}/img/bg-img/side-img.png" class="side-img" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### Articles Area End ##### -->

        {% endblock %}
{% endblock %}